# LangChain demo dependencies
langchain
python-dotenv
langchain-google-genai
ipykernel
gradio
param
wikipedia
langgraph
langgraph-cli[inmem]
google-genai
langsmith
requests
beautifulsoup4
vaderSentiment
langgraph-checkpoint-sqlite